@page
@model ah4cClientApp.Pages.IndexModel
@{
}
<link rel="stylesheet" href="./css/site.css" />
<div class="page">
    <div class="banner">
        <div class="banner-content">
            <div class="banner-title">Добро пожаловать в отель для домашних животных</div>
            <div class="banner-description">
                Где к вашим питомцам относятся как к членам семьи
            </div>
        </div>

    </div>
    <div class="page-maintitle">Наши услуги</div>
    <div class="mainsection">
        <div class="card-oriientation">
            <div class="card">
                <div class="image-container">
                    <div class="image">
                        <a href="#">
                            <img src="/assets/idei-dlya-fotosessii-s-sobakoy-10.png" />
                        </a>
                    </div>
                </div>
                <div class="card-text">
                    <div class="card-title">Фотосессия</div>
                    <div class="subtitle">500₽\2 часа</div>
                    <div class="icon-buttons">
                        <div class="icon">🐶</div>
                        <div class="icon">🐱</div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image-container">
                    <div class="image">
                        <a href="#">
                            <img src="/assets/medicinepet-10.png" />
                        </a>
                    </div>
                </div>
                <div class="card-text">
                    <div class="card-title">Лечение и уход</div>
                    <div class="subtitle">150₽\сутки</div>
                    <div class="icon-buttons">
                        <div class="icon">🐶</div>
                        <div class="icon">🐱</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
