@page

@model ah4cClientApp.Pages.MainPageModel

@{
    ViewData["Title"] = "Home page";

    }

    <div class="page">
        <div class="banner">
            <div class="banner-content">
                <div class="title2">Добро пожаловать в отель для домашних животных</div>
                <div class="description">
                    Где к вашим питомцам относятся как к членам семьи
                </div>
            </div>
            <svg class="vector-200"
                 width="1440"
                 height="1"
                 viewBox="0 0 1440 1"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M0 1H1440" stroke="black" stroke-opacity="0.1" />
            </svg>
        </div>
        <div class="title3">Наши услуги</div>
        <div class="section2">
            <div class="list">
                <div class="card">
                    <div class="image-container">
                        <div class="image">
                            <div class="title4">Dog</div>
                            <a href="#">
                                <img class="idei-dlya-fotosessii-s-sobakoy-1"
                                     src="idei-dlya-fotosessii-s-sobakoy-10.png" />
                            </a>
                        </div>
                    </div>
                    <div class="text-content">
                        <div class="frame-427318908">
                            <div class="title5">Фотосессия</div>
                        </div>
                        <div class="subtitle">500₽\2 часа</div>
                        <div class="icon-buttons">
                            <div class="icon">🐶</div>
                            <div class="icon">🐱</div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="image-container">
                        <div class="image">
                        <div class="title4">Cat</div>
                        <a href="#">
                            <img class="medicinepet-1" src="medicinepet-10.png" />
                        </a>
                        </div>
                    </div>
                    <div class="text-content">
                        <div class="title6">Лечение и уход</div>
                        <div class="subtitle">150₽\сутки</div>
                        <div class="icon-buttons">
                            <div class="icon">🐶</div>
                            <div class="icon">🐱</div>
                        </div>
                    </div>
                </div>
            </div>
            <svg class="vector-2002"
                 width="1440"
                 height="1"
                 viewBox="0 0 1440 1"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M0 1H1440" stroke="black" stroke-opacity="0.1" />
            </svg>
        </div>
    </div>

}
