@page
@model ah4cClientApp.Pages.OrderAddPageModel
@{
    var isdisplay = "none";
    if (ViewData["showerror"] != null && ViewData["showerror"] as string == "true")
    {
        isdisplay = "block";
    }
    else if (ViewData["showsuccess"] != null && ViewData["showsuccess"] as string == "true")
    {
        isdisplay = "block";
    }
}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        h1 {
            text-align: center;
            color: #333;
        }

        form {
            margin: 20px auto;
            width: 50%;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: #666;
        }

        input, select, button {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }
    </style>
<form method="post">
    <label for="clientId">ФИО клиента</label><br />
    <input required name="clientId" /><br />
    <label for="roomId">Номер комнаты</label><br />
    <input required name="roomId"  /><br />
    <label for="issueDate">Дата принятия</label><br />
    <input type="date" required name="issueDate" /><br />
    <label for="admissionDate">Дата выселения</label><br />
    <input type="date" required name="admissionDate" /><br />
    <label for="animalId">Вид питомца</label><br />
    <input name="animalId"/><br />
    <input type="submit" value="Забронировать" />
    <div class="form-group" style="display:@isdisplay">
        <span style="color:red">@ViewData["customerror"]</span>
    </div>
    <div class="form-group" style="display:@isdisplay">
        <span style="color:green">@ViewData["customsuccess"]</span>
    </div>
</form>
<form action="/BookingPage">
    <input type="submit" value="Вернуться назад"/>
</form>

